# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.flightVR.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dama\Documents\flightVR\.idea\.idea.flightVR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
